<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" name="viewpoint" content="width=device-width, initial-scale=1.0">
        <div class="index">
            <title>Car Park Booking Service - {% block title %}{% endblock title %}</title>
            <link rel="stylesheet" href="/static/stylesheet/style.css">
            <script src="https://kit.fontawesome.com/d2d950b8bc.js" crossorigin="anonymous"></script>
        </div>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="/static/images/steering-wheel.jpeg" class="logo">
                <h1>Car Park Booking Service</h1>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('bookings') }}">Book Space</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('vehicle_details') }}">Vehicle Details</a></li>
                    <li><a href="{{ url_for('register') }}">Register Account</a></li>
                </ul>
            </div>

            {% block content %}

            {% endblock content %}
        </div>
    </body>
</html>

