{% extends 'base.html' %}

{% block content %}

    {% block title %}Management Console{% endblock title%}

    <div class="container">
        <div class="row">
            <h1>Management Console</h1>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Vehicle Reg Number</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Matt Sugden</td>
                        <td>matt@mail.com</td>
                        <td>AA72 AAA</td>
                        <td>
                            <button class="small" id="editBtn"><span></span>Edit</button>
                            <button class="small" onclick="return confirm('Are you sure you want to delete?')"><span></span>Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Barry Gibb</td>
                        <td>barry@mail.com</td>
                        <td>BG19 BGE</td>
                        <td>
                            <button class="small" id="editBtn"><span></span>Edit</button>
                            <button class="small" onclick="return confirm('Are you sure you want to delete?')"><span></span>Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}